<h1>Data About Planets</h1>
{{#each planets_data}}
<hr />
<div>
    <p>
        <span>Planet: </span>
        <span>{{name}}</span>
    </p>
</div>
<div>
    <p>
        <span>Rotation Period: </span>
        <span>{{rotation_period}}</span>
    </p>
</div>
{{/each}}