/**
 * Name: Stevenson Suhardy
 * Student ID: 100839397
 * Date Completed: February 3, 2023
 */

#indexTitle,
#indexContent {
  color: #faead6;
}

.divInline {
  display: inline-block;
}

.inputWithIcon input[type="text"],
.inputWithIcon input[type="password"] {
  padding-left: 50px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 1px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
}

.inputWithIcon.inputIconBg i {
  background-color: #aaa;
  color: #fff;
  padding: 9px 11px 11px;
  border-radius: 4px 0 0 4px;
}

#pixabay-logo {
  width: 100px;
}

.blog-pic {
  width: 200px;
  height: 1000px;
}

.blog-column {
  background-color: lightsalmon;
}

.card {
  background-color: rosybrown;
  width: 50%;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.card-title {
  font-family: 'Impact', sans-serif;
}

.card-text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

[id^=post-] {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

[id^=user-] {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}