{{#each users}}
<div class="card card-body mb-2">
    <h4>{{fullName}}</h4>
    <p>{{email}}</p>
    <a class="btn btn-dark btn-block" href="/edit-user/{{_id}}">Edit User</a>
</div>
{{else}}
<p>No Users</p>
{{/each}}